<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>江燕路108号燕汇广场4层</string>
		<key>name</key>
		<string>上影联和电影城</string>
		<key>telNumber</key>
		<string>020-89778118</string>
	</dict>
	<dict>
		<key>address</key>
		<string>环市西路133路华南影都D区2层</string>
		<key>name</key>
		<string>华南影都</string>
		<key>telNumber</key>
		<string>020-28340088</string>
	</dict>
	<dict>
		<key>address</key>
		<string>北京路动感328</string>
		<key>name</key>
		<string>青宫电影城</string>
		<key>telNumber</key>
		<string>020-83328233  020-83329918  020-83322688</string>
	</dict>
	<dict>
		<key>address</key>
		<string>文明路65号</string>
		<key>name</key>
		<string>榕泉影剧院</string>
		<key>telNumber</key>
		<string>020-83372923</string>
	</dict>
	<dict>
		<key>address</key>
		<string>长堤大马路248号</string>
		<key>name</key>
		<string>羊城电影院</string>
		<key>telNumber</key>
		<string>020-83347984</string>
	</dict>
	<dict>
		<key>address</key>
		<string>中山五路68号五月花商业广场6层</string>
		<key>name</key>
		<string>五月花电影城</string>
		<key>telNumber</key>
		<string>020-83330836;020-83331003;020-83337366</string>
	</dict>
	<dict>
		<key>address</key>
		<string>革新路124之6-7</string>
		<key>name</key>
		<string>太古仓电影库</string>
		<key>telNumber</key>
		<string>020-84309788</string>
	</dict>
	<dict>
		<key>address</key>
		<string>江燕路108号燕汇广场4层</string>
		<key>name</key>
		<string>上影联和电影城</string>
		<key>telNumber</key>
		<string>020-89778118</string>
	</dict>
	<dict>
		<key>address</key>
		<string>天河路208号天河城4层</string>
		<key>name</key>
		<string>飞扬影城(天河城)</string>
		<key>telNumber</key>
		<string>020-85590336;020-85596002;020-85591013</string>
	</dict>
	<dict>
		<key>address</key>
		<string>农林下路4-6号锦轩现代城4层</string>
		<key>name</key>
		<string>中影火山湖电影城</string>
		<key>telNumber</key>
		<string>020-87623868</string>
	</dict>
	<dict>
		<key>address</key>
		<string>员村二横路2</string>
		<key>name</key>
		<string>员村文化宫电影院库</string>
		<key>telNumber</key>
		<string>020-85533391</string>
	</dict>
	<dict>
		<key>address</key>
		<string>桂花岗一街</string>
		<key>name</key>
		<string>粤艺影院</string>
		<key>telNumber</key>
		<string>020-83337061</string>
	</dict>
	<dict>
		<key>address</key>
		<string>达道路16</string>
		<key>name</key>
		<string>东山八一电影院</string>
		<key>telNumber</key>
		<string>020-83330721</string>
	</dict>
	<dict>
		<key>address</key>
		<string>新华路30号</string>
		<key>name</key>
		<string>花都数字电影城</string>
		<key>telNumber</key>
		<string>020-86832440</string>
	</dict>
	<dict>
		<key>address</key>
		<string>沙河横马路37号</string>
		<key>name</key>
		<string>沙河影剧场</string>
		<key>telNumber</key>
		<string>020-87738713</string>
	</dict>
	<dict>
		<key>address</key>
		<string>海珠中路249号</string>
		<key>name</key>
		<string>儿童电影院</string>
		<key>telNumber</key>
		<string>020-81375050</string>
	</dict>
	<dict>
		<key>address</key>
		<string>东圃大马路14</string>
		<key>name</key>
		<string>摩登电影城</string>
		<key>telNumber</key>
		<string>020-62861010</string>
	</dict>
</array>
</plist>
