<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>actorList</key>
		<array>
			<string>杰米·贝尔</string>
			<string>安迪·瑟金斯</string>
			<string>西蒙·佩吉</string>
		</array>
		<key>director</key>
		<string>史蒂文·斯皮尔伯格</string>
		<key>imageName</key>
		<string>1.JPG</string>
		<key>name</key>
		<string>丁丁历险记：独角兽号的秘密</string>
		<key>price</key>
		<string>28.000000</string>
		<key>value</key>
		<string>60.000000</string>
	</dict>
	<dict>
		<key>actorList</key>
		<array>
			<string>阿米尔·汗</string>
			<string>马德哈万 </string>
			<string>沙尔曼·乔什吉</string>
		</array>
		<key>director</key>
		<string>拉库马·希拉尼</string>
		<key>imageName</key>
		<string>2.JPG</string>
		<key>name</key>
		<string>三傻大闹宝莱坞</string>
		<key>price</key>
		<string>28.000000</string>
		<key>value</key>
		<string>60.000000</string>
	</dict>
	<dict>
		<key>actorList</key>
		<array>
			<string>岳秀清</string>
			<string>吴刚</string>
			<string>张斌</string>
			<string>应采儿</string>
			<string>张馨予</string>
		</array>
		<key>director</key>
		<string>许传海</string>
		<key>imageName</key>
		<string>3.JPG</string>
		<key>name</key>
		<string>不怕贼惦记</string>
		<key>price</key>
		<string>28.000000</string>
		<key>value</key>
		<string>60.000000</string>
	</dict>
	<dict>
		<key>actorList</key>
		<array>
			<string>陈奕迅</string>
			<string>莫文蔚</string>
			<string>郑伊健</string>
			<string>房祖名</string>
			<string>方力申</string>
			<string>黄奕</string>
		</array>
		<key>director</key>
		<string>刘镇伟 区雪儿</string>
		<key>imageName</key>
		<string>4.JPG</string>
		<key>name</key>
		<string>东成西就2011</string>
		<key>price</key>
		<string>28.000000</string>
		<key>value</key>
		<string>60.000000</string>
	</dict>
	<dict>
		<key>actorList</key>
		<array>
			<string>钟欣桐 </string>
			<string>周显欣</string>
			<string>黄维德</string>
		</array>
		<key>director</key>
		<string>叶伟英</string>
		<key>imageName</key>
		<string>5.JPG</string>
		<key>name</key>
		<string>午夜凶梦</string>
		<key>price</key>
		<string>28.000000</string>
		<key>value</key>
		<string>60.000000</string>
	</dict>
	<dict>
		<key>actorList</key>
		<array>
			<string>周秀娜</string>
			<string>罗仲谦</string>
			<string>洪天明</string>
			<string>庄思敏</string>
			<string>杨梓瑶</string>
			<string>沈志明</string>
		</array>
		<key>director</key>
		<string>叶念琛</string>
		<key>imageName</key>
		<string>6.JPG</string>
		<key>name</key>
		<string>婚前试爱</string>
		<key>price</key>
		<string>28.000000</string>
		<key>value</key>
		<string>60.000000</string>
	</dict>
	<dict>
		<key>actorList</key>
		<array>
			<string>蓝正龙</string>
			<string>立威廉</string>
			<string>韩彩英</string>
		</array>
		<key>director</key>
		<string>马俪文</string>
		<key>imageName</key>
		<string>7.JPG</string>
		<key>name</key>
		<string>巨额交易</string>
		<key>price</key>
		<string>28.000000</string>
		<key>value</key>
		<string>60.000000</string>
	</dict>
	<dict>
		<key>actorList</key>
		<array>
			<string>杰米·贝尔</string>
			<string>安迪·瑟金斯</string>
			<string>西蒙·佩吉</string>
		</array>
		<key>director</key>
		<string>史蒂文·斯皮尔伯格</string>
		<key>imageName</key>
		<string>8.JPG</string>
		<key>name</key>
		<string>开心家族</string>
		<key>price</key>
		<string>28.000000</string>
		<key>value</key>
		<string>60.000000</string>
	</dict>
	<dict>
		<key>actorList</key>
		<array>
			<string>古天乐</string>
			<string>黄百鸣</string>
			<string>吴尊</string>
		</array>
		<key>director</key>
		<string>叶伟信</string>
		<key>imageName</key>
		<string>9.JPG</string>
		<key>name</key>
		<string>开心魔法</string>
		<key>price</key>
		<string>28.000000</string>
		<key>value</key>
		<string>60.000000</string>
	</dict>
	<dict>
		<key>actorList</key>
		<array>
			<string>亨利·卡维尔@</string>
			<string>米基·洛克</string>
			<string>芙蕾达·平托</string>
		</array>
		<key>director</key>
		<string>塔西姆·辛</string>
		<key>imageName</key>
		<string>10.JPG</string>
		<key>name</key>
		<string>惊天战神</string>
		<key>price</key>
		<string>28.000000</string>
		<key>value</key>
		<string>60.000000</string>
	</dict>
	<dict>
		<key>actorList</key>
		<array>
			<string>河智苑 </string>
			<string>吴志浩</string>
			<string>安圣基</string>
		</array>
		<key>director</key>
		<string>金志勋</string>
		<key>imageName</key>
		<string>11.JPG</string>
		<key>name</key>
		<string>深海之战</string>
		<key>price</key>
		<string>28.000000</string>
		<key>value</key>
		<string>60.000000</string>
	</dict>
	<dict>
		<key>actorList</key>
		<array>
			<string>彭于晏</string>
			<string>林辰唏</string>
			<string>陈汉典</string>
		</array>
		<key>director</key>
		<string>林育贤</string>
		<key>imageName</key>
		<string>12.JPG</string>
		<key>name</key>
		<string>翻滚吧！阿信</string>
		<key>price</key>
		<string>28.000000</string>
		<key>value</key>
		<string>60.000000</string>
	</dict>
	<dict>
		<key>actorList</key>
		<array>
			<string>信 </string>
			<string>窦骁 </string>
			<string>张钧甯</string>
			<string>王柏杰</string>
			<string>曾志伟</string>
		</array>
		<key>director</key>
		<string>罗义民 韩之夏</string>
		<key>imageName</key>
		<string>13.JPG</string>
		<key>name</key>
		<string>赛车传奇</string>
		<key>price</key>
		<string>28.000000</string>
		<key>value</key>
		<string>60.000000</string>
	</dict>
	<dict>
		<key>actorList</key>
		<array>
			<string>应采儿</string>
			<string>佟大为</string>
			<string>董璇</string>
		</array>
		<key>director</key>
		<string>刘怡明</string>
		<key>imageName</key>
		<string>14.JPG</string>
		<key>name</key>
		<string>追爱</string>
		<key>price</key>
		<string>28.000000</string>
		<key>value</key>
		<string>60.000000</string>
	</dict>
	<dict>
		<key>actorList</key>
		<array>
			<string>何润东</string>
			<string>宋佳</string>
			<string>梁家辉</string>
		</array>
		<key>director</key>
		<string>胡大为</string>
		<key>imageName</key>
		<string>15.JPG</string>
		<key>name</key>
		<string>遍地狼烟</string>
		<key>price</key>
		<string>28.000000</string>
		<key>value</key>
		<string>60.000000</string>
	</dict>
	<dict>
		<key>actorList</key>
		<array>
			<string>保罗·贝坦尼</string>
			<string>卡尔·厄本 </string>
			<string>凯姆·吉甘戴</string>
		</array>
		<key>director</key>
		<string>斯科特·查尔斯·斯图瓦特</string>
		<key>imageName</key>
		<string>16.JPG</string>
		<key>name</key>
		<string>驱魔者</string>
		<key>price</key>
		<string>28.000000</string>
		<key>value</key>
		<string>60.000000</string>
	</dict>
	<dict>
		<key>actorList</key>
		<array>
			<string>希斯·莱杰 克里斯托弗·普卢默 莉莉·科尔</string>
		</array>
		<key>director</key>
		<string>特瑞·吉列姆</string>
		<key>imageName</key>
		<string>17.JPG</string>
		<key>name</key>
		<string>魔法奇幻秀</string>
		<key>price</key>
		<string>28.000000</string>
		<key>value</key>
		<string>60.000000</string>
	</dict>
	<dict>
		<key>actorList</key>
		<array>
			<string>黎明 </string>
			<string>冯绍峰 </string>
			<string>张涵予</string>
			<string>刘亦菲</string>
		</array>
		<key>director</key>
		<string>李仁港</string>
		<key>imageName</key>
		<string>18.JPG</string>
		<key>name</key>
		<string>鸿门宴传奇</string>
		<key>price</key>
		<string>28.000000</string>
		<key>value</key>
		<string>60.000000</string>
	</dict>
	<dict>
		<key>actorList</key>
		<array>
			<string>李连杰 </string>
			<string>陈坤</string>
			<string>周迅</string>
			<string>桂纶镁</string>
			<string>樊少皇</string>
			<string>李宇春</string>
		</array>
		<key>director</key>
		<string>徐克</string>
		<key>imageName</key>
		<string>19.JPG</string>
		<key>name</key>
		<string>龙门飞甲</string>
		<key>price</key>
		<string>28.000000</string>
		<key>value</key>
		<string>60.000000</string>
	</dict>
	<dict>
		<key>actorList</key>
		<array>
			<string>克里斯蒂安·贝尔</string>
			<string>佟大为</string>
			<string>窦骁</string>
		</array>
		<key>director</key>
		<string>张艺谋</string>
		<key>imageName</key>
		<string>20.JPG</string>
		<key>name</key>
		<string>金陵十二钗</string>
		<key>price</key>
		<string>28.000000</string>
		<key>value</key>
		<string>60.000000</string>
	</dict>
</array>
</plist>
