<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Publisher</key>
		<string>Super Sportz, Inc.</string>
		<key>Name</key>
		<string>白切鸡</string>
		<key>NumRatings</key>
		<integer>106</integer>
		<key>Rating</key>
		<real>3.5</real>
		<key>Price</key>
		<string>$60</string>
		<key>Icon</key>
		<string>1.JPG</string>
		<key>DishImage</key>
		<string>1.JPG</string>
	</dict>
	<dict>
		<key>Publisher</key>
		<string>General Specifics, Inc.</string>
		<key>Name</key>
		<string>客家瓤豆腐</string>
		<key>NumRatings</key>
		<integer>114</integer>
		<key>Rating</key>
		<real>4.5</real>
		<key>Price</key>
		<string>$0.99</string>
		<key>Icon</key>
		<string>2.JPG</string>
		<key>DishImage</key>
		<string>2.JPG</string>
	</dict>
	<dict>
		<key>Publisher</key>
		<string>Foodies, Inc.</string>
		<key>Name</key>
		<string>东北烧鸡</string>
		<key>NumRatings</key>
		<integer>254</integer>
		<key>Rating</key>
		<real>3</real>
		<key>Price</key>
		<string>$4.98</string>
		<key>Icon</key>
		<string>3.JPG</string>
		<key>DishImage</key>
		<string>3.JPG</string>
	</dict>
	<dict>
		<key>Publisher</key>
		<string>Super Sportz, Inc.</string>
		<key>Name</key>
		<string>美国龙虾</string>
		<key>NumRatings</key>
		<integer>422</integer>
		<key>Rating</key>
		<real>3</real>
		<key>Price</key>
		<string>$1.99</string>
		<key>Icon</key>
		<string>4.JPG</string>
		<key>DishImage</key>
		<string>4.JPG</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>盐焗鸡肉</string>
		<key>Publisher</key>
		<string></string>
		<key>NumRatings</key>
		<integer>45</integer>
		<key>Rating</key>
		<real>4</real>
		<key>Price</key>
		<string>$0.99</string>
		<key>Icon</key>
		<string>5.JPG</string>
		<key>DishImage</key>
		<string>5.JPG</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>鳌头大肉</string>
		<key>publisher</key>
		<string>鳌头美食街</string>
		<key>NumberRatings</key>
		<string>45</string>
		<key>Rating</key>
		<string>5</string>
		<key>Price</key>
		<string>45</string>
		<key>Icon</key>
		<string>6.JPG</string>
		<key>DishImage</key>
		<string>6.JPG</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>鳌头大肉</string>
		<key>publisher</key>
		<string>鳌头美食街</string>
		<key>NumberRatings</key>
		<string>45</string>
		<key>Rating</key>
		<string>5</string>
		<key>Price</key>
		<string>45</string>
		<key>Icon</key>
		<string>7.JPG</string>
		<key>DishImage</key>
		<string>7.JPG</string>
	</dict>
	<dict>
		<key>Publisher</key>
		<string>General Specifics, Inc.</string>
		<key>Name</key>
		<string>Blocks</string>
		<key>NumRatings</key>
		<integer>114</integer>
		<key>Rating</key>
		<real>4.5</real>
		<key>Price</key>
		<string>$0.99</string>
		<key>Icon</key>
		<string>8.JPG</string>
		<key>DishImage</key>
		<string>8.JPG</string>
	</dict>
	<dict>
		<key>Publisher</key>
		<string>Super Sportz, Inc.</string>
		<key>Name</key>
		<string>Football</string>
		<key>NumRatings</key>
		<integer>422</integer>
		<key>Rating</key>
		<real>3</real>
		<key>Price</key>
		<string>$1.99</string>
		<key>Icon</key>
		<string>9.JPG</string>
		<key>DishImage</key>
		<string>9.JPG</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>鳌头大肉</string>
		<key>publisher</key>
		<string>鳌头美食街</string>
		<key>NumberRatings</key>
		<string>45</string>
		<key>Rating</key>
		<string>5</string>
		<key>Price</key>
		<string>45</string>
		<key>Icon</key>
		<string>10.JPG</string>
		<key>DishImage</key>
		<string>10.JPG</string>
	</dict>
	<dict>
		<key>Publisher</key>
		<string>General Specifics, Inc.</string>
		<key>Name</key>
		<string>Blocks</string>
		<key>NumRatings</key>
		<integer>114</integer>
		<key>Rating</key>
		<real>4.5</real>
		<key>Price</key>
		<string>$0.99</string>
		<key>Icon</key>
		<string>11.JPG</string>
		<key>DishImage</key>
		<string>11.JPG</string>
	</dict>
	<dict>
		<key>Publisher</key>
		<string>Super Sportz, Inc.</string>
		<key>Name</key>
		<string>Baseball</string>
		<key>NumRatings</key>
		<integer>106</integer>
		<key>Rating</key>
		<real>3.5</real>
		<key>Price</key>
		<string>$45.98</string>
		<key>Icon</key>
		<string>12.JPG</string>
		<key>DishImage</key>
		<string>12.JPG</string>
	</dict>
	<dict>
		<key>Publisher</key>
		<string>General Specifics, Inc.</string>
		<key>Name</key>
		<string>Blocks</string>
		<key>NumRatings</key>
		<integer>114</integer>
		<key>Rating</key>
		<real>4.5</real>
		<key>Price</key>
		<string>$0.99</string>
		<key>Icon</key>
		<string>13.JPG</string>
		<key>DishImage</key>
		<string>13.JPG</string>
	</dict>
	<dict>
		<key>Publisher</key>
		<string>Foodies, Inc.</string>
		<key>Name</key>
		<string>Dinner</string>
		<key>NumRatings</key>
		<integer>254</integer>
		<key>Rating</key>
		<real>3</real>
		<key>Price</key>
		<string>$4.98</string>
		<key>Icon</key>
		<string>14.JPG</string>
		<key>DishImage</key>
		<string>14.JPG</string>
	</dict>
	<dict>
		<key>Publisher</key>
		<string>Super Sportz, Inc.</string>
		<key>Name</key>
		<string>Football</string>
		<key>NumRatings</key>
		<integer>422</integer>
		<key>Rating</key>
		<real>3</real>
		<key>Price</key>
		<string>$1.99</string>
		<key>Icon</key>
		<string>15.JPG</string>
		<key>DishImage</key>
		<string>15.JPG</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>MathGraph</string>
		<key>Publisher</key>
		<string>Math Nutz</string>
		<key>NumRatings</key>
		<integer>45</integer>
		<key>Rating</key>
		<real>4</real>
		<key>Price</key>
		<string>$0.99</string>
		<key>Icon</key>
		<string>16.JPG</string>
		<key>DishImage</key>
		<string>16.JPG</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>鳌头大肉</string>
		<key>publisher</key>
		<string>鳌头美食街</string>
		<key>NumberRatings</key>
		<string>45</string>
		<key>Rating</key>
		<string>5</string>
		<key>Price</key>
		<string>45</string>
		<key>Icon</key>
		<string>17.JPG</string>
		<key>DishImage</key>
		<string>17.JPG</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>鳌头大肉</string>
		<key>publisher</key>
		<string>鳌头美食街</string>
		<key>NumberRatings</key>
		<string>45</string>
		<key>Rating</key>
		<string>5</string>
		<key>Price</key>
		<string>45</string>
		<key>Icon</key>
		<string>18.JPG</string>
		<key>DishImage</key>
		<string>18.JPG</string>
	</dict>
	<dict>
		<key>Publisher</key>
		<string>General Specifics, Inc.</string>
		<key>Name</key>
		<string>Blocks</string>
		<key>NumRatings</key>
		<integer>114</integer>
		<key>Rating</key>
		<real>4.5</real>
		<key>Price</key>
		<string>$0.99</string>
		<key>Icon</key>
		<string>19.JPG</string>
		<key>DishImage</key>
		<string>19.JPG</string>
	</dict>
	<dict>
		<key>Publisher</key>
		<string>Super Sportz, Inc.</string>
		<key>Name</key>
		<string>Football</string>
		<key>NumRatings</key>
		<integer>422</integer>
		<key>Rating</key>
		<real>3</real>
		<key>Price</key>
		<string>$1.99</string>
		<key>Icon</key>
		<string>20.JPG</string>
		<key>DishImage</key>
		<string>20.JPG</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>鳌头大肉</string>
		<key>publisher</key>
		<string>鳌头美食街</string>
		<key>NumberRatings</key>
		<string>45</string>
		<key>Rating</key>
		<string>5</string>
		<key>Price</key>
		<string>45</string>
		<key>Icon</key>
		<string></string>
		<key>DishImage</key>
		<string>10.JPG</string>
	</dict>
	<dict>
		<key>Publisher</key>
		<string>General Specifics, Inc.</string>
		<key>Name</key>
		<string>Blocks</string>
		<key>NumRatings</key>
		<integer>114</integer>
		<key>Rating</key>
		<real>4.5</real>
		<key>Price</key>
		<string>$0.99</string>
		<key>Icon</key>
		<string>Blocks.png</string>
		<key>DishImage</key>
		<string>11.JPG</string>
	</dict>
</array>
</plist>
