<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FilmName</key>
		<string>丁丁历险记：独角兽号的秘密</string>
		<key>Director</key>
		<string>bro</string>
		<key>ActorList</key>
		<array>
			<string>how are you </string>
			<string>buddy</string>
			<string>hey man</string>
		</array>
		<key>Price</key>
		<string>43</string>
		<key>Dicount</key>
		<string>50%</string>
		<key>FilmImage</key>
		<string>1.JPG</string>
	</dict>
</array>
</plist>
